<!doctype html>
<html lang="en">
  <%-include('common/head')%>
  <body>
    <%-include('common/navbar')%>

      
    <div class="container">
      <h1>Update Product</h1>
      <form action="/update/<%=product._id%>" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" name="name" value="<%=product.name%>" >
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">price</label>
          <input type="text" class="form-control" name="price" value="<%=product.price%>" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Size</label>
          <input type="text" class="form-control" name="size" value="<%=product.size%>" >
        </div>
       
        <button type="submit" class="btn btn-primary">update Product</button>
      </form>
     
    </div>

      <%-include('common/footer')%>